body {
  padding: 0;
  margin: 0;
  background: black;
  color: white;
}

main {
  width: 50%;
  margin: 0 auto
}

li {
  color: red;
  list-style-type: none;
}
.checked {
  text-decoration: line-through;
  color: green;
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todo {
}

ul {
  padding: 0;
}
